* {
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.header {
    height: 400px;
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-top: 1px solid transparent ; */
}

h1 {
    font-size: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(3, 150, 100, 0.75);
    text-align: center;
    /* margin-top: 80px; */
}